.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    width: 100%;
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.form-wrapper {
    background: linear-gradient(180deg, #F3F7FC 0%, #FFFFFF 100%);
    margin-top: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {

    padding: 1.25rem;
    box-shadow: 0px 3px 2px rgba(83, 89, 95, 0.15), 0px 4px 15px rgba(83, 89, 95, 0.2);
    border-radius: 1.25rem;
}

h4 {
    text-align: center;
    margin: 1.25rem;
}

input {
    background-color: transparent;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin: 1rem 0;
    border-bottom: 1px solid gray;
    outline: none;
    padding-bottom: .5rem;
}

input:focus {
    border-bottom: 2px solid #3B8FF2;
}

.form-error {
    background-color: #ff7a6c;
    border: 1px solid #ff0005;
    padding: 0.25rem;
    color: #fff;
}

#submit-button {
    margin-top: 1rem;
    border: 0;
    background: #3B8FF2;
    box-shadow: 0px 2px 2px rgba(34, 73, 119, 0.25), 0px 8px 12px rgba(51, 74, 100, 0.12);
    border-radius: 20px;
    width: 100%;
    padding: .5rem 0;
    color: #FFF;
    font-size: 1.25rem;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    outline: none;
}

#submit-button:hover, #submit-button:focus {
    background-color: #3C9AFF;
}

/*mp section*/
#mp-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#mp-section header {
    width: 100%;
}

#mp-section h3 {
    margin-top: 0;
}

.conservative {
    color: #003f72;
}

.ndp {
    color: #f89921;
}

.liberal {
    color: #D71B1E;
}

.green {
    color: #3d9b35;
}

